
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Photos</title>
</head>
<body>
    <h2>All Photos</h2>
    <p>@Html.ActionLink("Add a Photo", "Create", "Photo")</p>
    
        
        <p>@Html.Action("_PhotoGallery", "Photo")</p>
    </body>
</html>
